.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 15%px;
  background-color:rgb(102, 99, 99);
}

.toolbar {
  background: inherit;
  background-color: orangered;
}

.sidenav-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.ng-content {
  margin-left: 5px;
}


.navitem {
  color: white;
}


